/* You can add global styles to this file, and also import other style files */
/* NAVBAR */
.navbar {
  background: #4a90e2;
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  transition: 0.2s;
}

.nav-links li a:hover {
  text-decoration: underline;
}

/* PAGE AREA */
.content {
  padding: 30px 50px;
  max-width: 900px;
  margin: auto;
  font-family: Arial, sans-serif;
}
